*.o
tayga
tayga.conf
*.tar
*.d
tayga-cov
*.gcno 
*.gcda
*.gcov
*.rpt
*.pcap
*.pyc
*.log
html/*
latex/*
version.h
.vscode/*
callgrind*
unit_conffile
unit_conffile.conf

# Test executables created during development
test_cpu_detection
test_thread_configs

# macOS debug symbols
*.dSYM/