[Unit]
Description=Simple, no-fuss NAT64
After=network.target

[Service]
# To set up an extra tayga service instance, create a new tayga config in
# /etc/tayga/instancename.conf
# /etc/tayga/instancename.conf
# systemctl enable tayga@instancename.service
#
# These options require Tayga to be linked against libsystemd
# If you want to run Tayga as a systemd service without this support,
# remove the `--journal` flag, and replace `Type=notify` with `Type=simple`.
Type=notify
ExecStart=tayga --config /etc/tayga/%i.conf --journal --nodetach

# Hardening options
PrivateTmp=true
StateDirectory=tayga
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
ProtectHostname=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
