# This make sure the code builds successfully on amd64/arm64 with gcc and clang
name: Basic Test

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      ver:
        description: 'Any valid git ref'
        required: false
        type: string
  pull_request:
    types: [opened, synchronize]

# permissions are set per job
permissions: { }

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            os: ubuntu-24.04
          - arch: arm64
            os: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ver || github.ref }}
      - name: run build gcc
        run: make CC=gcc CFLAGS="-Werror -Wall -O2"
      - name: run test gcc
        run: make test CC=gcc
      - name: run build clang
        run: make CC=clang CFLAGS="-Werror -Wall -O2"
      - name: run test clang
        run: make test CC=clang
      - name: run build gcc w/o LTO
        run: make CC=gcc LDFLAGS="" CFLAGS="-Werror -Wall -O2"
      - name: run test gcc w/o LTO
        run: make test CC=gcc LDFLAGS=""
      - name: run build clang w/o LTO
        run: make CC=clang LDFLAGS="" CFLAGS="-Werror -Wall -O2"
      - name: run test clang w/o LTO
        run: make test CC=clang LDFLAGS=""
      - name: run build gcc w/ Wextra
        run: make CC=gcc CFLAGS="-Werror -Wextra -O2"
      - name: run build clang w/ wextra
        run: make CC=clang CFLAGS="-Werror -Wextra -O2"
